@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Lato:wght@300&family=PT+Sans&family=Poppins:wght@100;200;300;400;500;600;800&family=Roboto:wght@300;400&family=Work+Sans:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.switch{
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.light{
    background-color: #fff;
    font-family: 'Barlow';
    color: #333;
    width: 100vw;
    height: 100vh;
}
.dark{
    background-color: #333;
    font-family: 'Barlow';
    color: #fff;
    width: 100vw;
    height: 100vh;
}
h1{
   text-align: center;
   padding-top: 20px;
}
.container{
    box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.5);
    border-radius: 10px;
    font-family: 'Barlow';
    width: 350px;
    height: 450px;
    margin: 30px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.list_con{
    width: 80%;
    height: 40px;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.4);
    border-radius: 8px;
}